@import url(./reset.css);

* {
  font-family: system-ui;
}

.app {
  max-height: calc(100vh - 1rem);
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
}

.data-controls {
  /* margin: 1rem; */
}

.button {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem 1rem;
  border: 1px solid gray;
  border-radius: 3px;
  transition: 150ms;
}

.button:hover {
  padding: 0.25rem 1rem;
  border: 1px solid black;
}

.button:active {
  padding: 0.25rem 1rem;
  border: 1px solid black;
  background-color: black;
  color: white;
}

.data-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-y: auto;
}

.day-header {
  font-size: 1.5rem;
  font-weight: 600;
}

.day-data-container {
  /* border: 2px solid red; */
}

.day-grups-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.group-item {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 2px;
  align-items: center;
}

.group-values {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.group-name {
  align-self: stretch;
  font-weight: bold;
  padding: 0.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  padding: 0.1rem 1rem;
  background: #181818;
  color: #ffffff;
}