@import url(./reset.css);

* {
  font-family: system-ui;
}

:root {
  --font-color: whitesmoke;
  --bg-color: black;
  --group-bg: #02020221;
  --border-color: #72727255;
}

body {
  background: transparent;
}

.app {
  /* background: var(--bg-color); */
  height: calc(100vh - 0rem);
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: var(--font-color);
  /* padding: 1rem; */
}

.data-controls {
  margin: 0.5rem 1rem;
}

.button {
  position: relative;
  color: var(--font-color);
  background: var(--group-bg);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  transition: 150ms;
  box-shadow: 1px 1px 5px 0 black;
}

.button:hover {
  padding: 0.25rem 1rem;
  border: 1px solid var(--font-color);
}

.button:active {
  padding: 0.25rem 1rem;
  border: 1px solid var(--font-color);
  background-color: var(--font-color);
  color: var(--bg-color);
}

.data-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-y: auto;
  padding: 0 1rem;
}

.day-header {
  font-size: 1.5rem;
  font-weight: 600;
}

.day-data-container {
  /* border: 2px solid red; */
}

.day-grups-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.group-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  align-items: center;
  background: var(--group-bg);
  box-shadow: 2px 2px 10px 0 black;
  padding: 0.5rem;
}

.group-values {
  position: relative;
  width: 100%;
  display: flex;
  /* gap: 2rem; */
  flex-direction: column;
}

.group-name {
  align-self: stretch;
  font-weight: bold;
}

.last-update-time {
  opacity: 0.5;
}

footer {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  padding: 0.1rem 1rem;
  background: #181818;
  color: #ffffff;
}


.period-off {
  position: absolute;
  left: var(--from);
  width: calc(var(--to) - var(--from));
  height: 2rem;
  background: red;
}

.button.update-button {
  padding-left: 2rem;
}

.update-button::before {
  content: "";
  position: absolute;
  transform: translateY(-50%) rotateZ(45deg);
  top: 50%;
  left: 0.5rem;
  width: 1.25rem;
  aspect-ratio: 1;
  background-color: var(--font-color);
  mask-image: url(./assets/img/sync.svg);
  mask-size: contain;
  transition: 150ms;

}

.update-button:hover::before {
  /* background-color: var(--bg-color); */
  transform: translateY(-50%) rotateZ(135deg);
}

.update-button:active::before {
  background-color: var(--bg-color);
  transform: translateY(-50%) rotateZ(135deg);
}